<form action="{% url 'search' %}", method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        <div class="row">
            <div class="col-xs-10 col-sm-8 col-md-6">
                {{ form.search_query.errors }}
                <input name="search_query" type="text" placeholder="Enter Search Term" class="form-control" id="search_field">
            </div>
            <button class="btn btn-default" type="button submit" id="search_button"><i class="glyphicon glyphicon-search" ></i></button>
        </div>
    </div>
</form>