{% extends "isa_webapp/template.html" %}
{% block title %}Product Details{% endblock %}
{% block body_block %}
<body>
	<div style="text-align:center;">
          <h1>Product Details</h1>
    </div>
    <div class="col-xs-6 " >

        <h3> Name:</h3>

        <p>{{response.data.0.fields.name}}</p>
    </div>
    <div class="col-xs-6 ">
        <h3> Description:</h3>

    	<p>{{response.data.0.fields.description}}</p>
    </div>

    <div class="col-xs-6 ">
        <h3> Price:</h3>

    	<p>{{response.data.0.fields.price}}</p>
    </div>

    <div class="col-xs-6 ">
        <h3> Condition:</h3>

    	<p>{{response.data.0.fields.condition.fields.name}}</p>
    </div>

    <div class="col-xs-6 ">
        <h3> Seller:</h3>

    	<p>{{response.data.0.fields.seller.fields.first_name}} {{response.data.0.fields.seller.fields.last_name}}</p>
    </div>

    <div class="col-xs-6 ">
        <h3> Seller Rating:</h3>

    	<p>{{response.data.0.fields.seller.fields.seller_rating}}</p>
    </div>
</body>
{% endblock %}