{% extends "isa_webapp/template.html" %}
{% block title %}Search Product{% endblock %}
{% block body_block %}
<h1>Search Page</h1>
{% include "./_searchbar.html" %}
{% if error %}
    {{ error }}
{% elif search_results|length > 0 %}
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped">
                <tr>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                {% for listing in search_results %}
                    <tr>
                        <td>{{ listing.fields.name }}</td>
                        <td>{{ listing.fields.description }}</td>
                        <td><a href="{% url 'product' listing.pk %}">Details Page</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% else %}
    No results found.
{% endif %}

{% endblock %}